.project {
  display: flex;
  flex-direction: column;
  padding: 2em;
  margin: 0 auto;
  text-align: center;
  box-shadow: var(--shadow);
  transition: transform 0.2s linear;
}

.project:hover {
  transform: translateY(-7px);
}

.project__header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
  flex: 0 0 10%; 
}

.project__description {
  flex: 1; 
  margin: 1em 0; 
}

.project__stack {
  flex: 0 0 5%; 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1.2em 0;
}

.project__stack-item {
  margin: 0.5em;
  font-weight: 500;
  font-size: 0.8rem;
  color: var(--clr-fg-alt);
}

.project__links {
  flex: 0 0 5%; 
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

.project .link--icon {
  margin-left: 1em;
}
