.educations__list {
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.education-container {
    width: 100%;
    background: #f9f9f9;
    padding: 15px;
    border: 1px solid #e1e1e1;
    border-radius: 8px;
}
