.skills__list {
  max-width: 800px;
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skills__list-item {
  margin: 0.5em;
}

.skills__category {
  margin-bottom: 2em;
}

@media (max-width: 600px) {
  .skills__category h3 {
    font-size: 1.1rem;
  }

  .skills__list .btn--plain {
    margin: 0.3em;
    font-size: 12px; 
  }
}
