.about {
  flex-direction: column;
  margin-top: 3em;
}

.about__name {
  color: var(--clr-primary);
}

.about__role {
  margin-top: 1.2em;
  font-family: 'Courier New', Courier, monospace; 
  white-space: nowrap;
  overflow: hidden; 
  border-right: 2px solid; 
  animation: blink 0.7s step-end infinite; 
}

.about__desc {
  font-size: 1rem;
  max-width: 600px;
}

.about__contact {
  margin: 0 auto;
}

.about__desc,
.about__contact {
  margin-top: 2.4em;
}

.about .link--icon {
  margin-right: 0.8em;
}

.about .btn--outline {
  margin-right: 1em;
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@media (max-width: 600px) {
  .app .about {
    align-items: flex-start;
    margin-top: 2em;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  .about__desc {
    font-size: 0.8rem;
  }
}